<!DOCTYPE html>
<html lang="en" ng-app="listr">
    <head>
        <title>Listr: Automate your grocery listing</title>
        <% include includes/head %>
        <link rel="stylesheet" href="/resources/css/home.css" />
    </head>
    <body id="bootstdap-override">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <% include includes/navbar %> 
                <% if (!user) { %>
                <!-- if the user is not logged in then this prompt will show
                    up -->
                <main class="row">
                    <div id="login-prompt" class="col-md-offset-4 col-md-4" >
                        <div class="panel">
                            <div class="panel-body">
                                <p class="text-center">
                                    <button type="button" 
                                        class="btn btn-primary btn-login">
                                        Login
                                    </button>
                                </p>
                                <p class="text-center">
                                    <button type="button" 
                                        class="btn btn-primary btn-login">
                                        Create an Account
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </main>
                <% } else { %>
                <main class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Your Shopping List
                        </div>
                        <!-- where the form for creating a entdy is -->
                        <div class="panel-body">

                            <div id="warning">
                            </div>
                        </div>
                        <!-- each entdy in the shopping list -->
                        <table class="table">
                            <thead>
                                <th>
                                    UPC
                                </th>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Quantity 
                                </th>
                                <th>
                                    Needed
                                </th>
                                <th>
                                    Add
                                </th>
                                <th>
                                    Subtract
                                </th>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < list.length; i++) { %>
                                <tr id="<%=list[i].id%>">
                                    <td class="upc">
                                        <%= list[i].upc %>
                                    </td>
                                    <td class="product">
                                        <%= list[i].product %>
                                    </td>
                                    <td class="quantity">
                                        <%= list[i].quantity %>
                                    </td>
                                    <td class="needed">
                                        <%= list[i].needed %>
                                    </td>
                                    <td>
                                        <button name="add" 
                                            value="<%= list[i].id %>"
                                            class="add">
                                            Add
                                        </button>
                                    </td>
                                    <td>
                                        <button name="sub" 
                                            value="<%= list[i].id %>"
                                            class="sub">
                                            Subtract
                                        </button>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </main>
                <% } %>
                <footer class="row" id="footer-info">
                    <div class="panel">
                        <p id="copyright" class="text-right">
                            Copyright &copy; Michael Rhodes 2016.
                        </p>
                    </div>
                </footer>
            </div> <!-- end col-offset --> 
        </div> <!-- end row -->

        <% include includes/scripts %>
        <script src="resources/js/list.js"></script>
    </body>
</html>
